/* styles.css */
@font-face {
    font-family: 'one piece';
    src: url('/one\ piece\ font.ttf');
}

@font-face {
    font-family: product san;
    src: url('/Product\ Sans\ Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}




/* section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

#video-section {
    background-color: #000;
    color:burlywood;
    
   
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



   







#main{
    width:100%;
    height:100%;
}


.overlay{
    position:absolute;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(19,19,19),rgb(155,155,0,0),rgb(19,19,19));
}

#two{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: rgb(27,27,27);
    padding: 0vw 15vw 0vw 20vw; 
 }

 .textarea{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:left ;
    justify-content: center;
    z-index: 9;
 }

 .textarea h1{
    overflow: hidden;
    font-family:'one piece';
    font-size: 6vw;
    color:burlywood;
 }

 .textarea p{
font-family: 'product san';
font-size: 1vw;
color:burlywood;
margin-bottom: 1vw;
margin-top: 1vw;
 }

 .lineone{
   
    width: 20%;
    height: 100vh;
    overflow: hidden;
 }

 .innerline{
    display: flex;
    flex-direction: column;
    gap:1vw;
    width: 100%;
    height: 200vh;
 }

 #linetwo{
    margin-top: -100vh;
}


.cards{
    width:100%;
    height: 50vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#lineone .cards:nth-child(1){
    background-image: url(/img/pxfuel\ \(1\).jpg);
}
#lineone .cards:nth-child(2){
    background-image: url(/img/pxfuel.jpg);
}
#lineone .cards:nth-child(3){
    background-image: url(/img/pxfuel\ \(2\).jpg);
}
#lineone .cards:nth-child(4){
    background-image: url(/img/pxfuel\ \(3\).jpg);
}
#lineone .cards:nth-child(5){
    background-image: url(/img/pxfuel\ \(9\).jpg);
}

#linetwo .cards:nth-child(1){
    background-image: url(/img/pxfuel\ \(4\).jpg);
}
#linetwo .cards:nth-child(2){
    background-image: url(/img/pxfuel\ \(5\).jpg);
}#linetwo .cards:nth-child(3){
    background-image: url(/img/pxfuel\ \(6\).jpg);
}#linetwo .cards:nth-child(4){
    background-image: url(/img/pxfuel\ \(7\).jpg);
}#linetwo .cards:nth-child(5){
    background-image: url(/img/pxfuel\ \(8\).jpg);
}




#main2{
    /* width: 100%; */
    /* min-height: 100vh; */
    background-color: rgb(27,27,27);

}

.content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15vh;
    width: 100%;
    height: 90vh;
    padding: 0vh 15vh;
    font-family: product sans;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
}

.content2 h1{
    text-align: center;
    color:burlywood;
    font-family: 'one piece';
    }
    
    .content2 h2{
        text-align: center;
        color:burlywood;
        font-family: 'product sans';
        }

       
   
   
.dots-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;

}

.dot{
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 50px;
    background-color:bisque;
}



.img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background-color: black; */

}

.img2{
    width: 25vw;
    height: 50vh;
    background-image: url(/img/9387247.png);
    background-size: cover;
    background-position: center;
}





.c-old {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://www.cinecasero.uy/img/old.webp);
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    z-index: 150;
    pointer-events: none;
}

.c-noise {
    background-image: url(https://www.cinecasero.uy/img/noise-full.png);
    height: 300%;
    left: -50%;
    opacity: .032;
    position: fixed;
    top: -100%;
    width: 300%;
    z-index: 100;
    pointer-events: none;
}
